<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" />
    <title>Live Alerts</title>
  </head>
  <body class="container">
    <% if (typeof showNavbar !== 'undefined' && showNavbar) { %>
    <nav>
      <ul>
        <li>
          <a href="/"><strong>Twitch Tools</strong></a>
        </li>
      </ul>
      <ul>
        <% if (locals.user && locals.user.userEmail) { %>
        <li><i> <%= locals.user.userEmail %> </i></li>
        <% } %>
        <li><a href="/widget">Widget</a></li>
        <li><a href="/logout">Déconnexion</a></li>
      </ul>
    </nav>
    <% } %>
  </body>
</html>
