include partials/head.pug

main.ctr-flx
    section(class="container txt-ctr")
        div
            h2 About Broche Tools.
            p Text about the project here
        div
            h2 Self presentation
            p Text about me here 
        
include partials/footer.pug
