<%- include('partials/head.ejs') %>

<div>
  <article style="height: 200px; display: flex; justify-content: center; align-items: center; flex-direction: column">
    <p>Work</p>
    <p>In</p>
    <p>Progress</p>
  </article>
</div>
