<%- include('partials/head.ejs') %>
<% const {REGISTER, SIGNIN} = locals.paths %>

  <style>
    .form-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 100vh;
    }

    form {
      width: 50%;
      /* Limite la largeur du formulaire */
      padding: 1rem;
      border-radius: 8px;
    }
  </style>


  <div class="form-container">
    <form method="POST" action="<%= SIGNIN.path %>">
      <article>
        <div>
          <input placeholder="email" type="email" id="email" name="email" required />
        </div>

        <div>
          <input placeholder="password" type="password" id="password" name="password" required />
        </div>

        <footer>
          <button type="submit" class="contrast">Connection</button>
        </footer>
      </article>
    </form>
    <p>If you don't have an account, please <a href="<%= REGISTER.path %>"><%= REGISTER.text %>.</a></p>
  </div>
  </body>

  </html>