:root {
  /* ------------------------------------------------------------------------------------ */
  /* === RED === */
  --red-danger: #d93526;
  --red-danger-light: #ee402e;

  /* ------------------------------------------------------------------------------------ */
  /* === GREY === */
  --grey-light: #1a1f29;
  --grey-ulra-light: #fafafa;

  /* ------------------------------------------------------------------------------------ */
  /* === GREEN === */
  --green-success: #00895a;

  /* ------------------------------------------------------------------------------------ */
  /* === BLACK === */
  --black: #000000;

  /* ------------------------------------------------------------------------------------ */
  /* === WHITE === */
  --white: #ffffff;
}
